.projects_text{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.projects_text > span:before,
.projects_text > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid white;
    margin-top: .6em;
}
.projects_text > span:before {
    margin-left: -102%;
}
.projects_text > span:after {
    margin-left: 2%;
}

.projects_list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}